.center {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); /* x, y, blur, color */
}

.login-form input {
  padding: 10px;
  font-size: 16px;
  width: 250px;
  border-radius: 10px;
}

.login-form button {
 padding: 10px;  
 border-radius: 20px; 
}

.login-form button:active {
    background-color: blue;
}

.no-underline {
    text-decoration: none;
}

.Signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border: 2px solid black;
    border-radius: 2px;
}

/* .ToselectCandidateorHost{

} */

.already-account {
    display: flex;
    flex-direction: row;
    margin-left: 50px;
}

.already-account p {
    margin-right: 6px;
}

.already-account button {
   border: 2px solid black;
   border-radius: 5px;
   background-color: blue;
   width: 75px;
   height: 50px;
   border-radius: 4px
}

.rolecard {
    height: 15vh;
    background-color:#FFF1BF;;
    border-radius: 10px;
    margin: 10px;
    width: 25vw;
}