.center {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.outline {
    border: 1px solid black;
    border-radius: 6px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); 

}

.center-text {
  display: flex;
  justify-content: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  border-radius: 10px;
}

.login-form input {
  padding: 10px;
  font-size: 16px;
  width: 250px;
  border-radius: 10px;
}

.login-form button {
 padding: 10px;  
 border-radius: 20px; 
}

.login-form button:active {
    background-color: #0073E6;
}

.no-underline {
    text-decoration: none;
    color: rgb(29, 78, 216);
}

.Signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    border: 2px solid black;
    border-radius: 2px;
}

.signup-box {
  background-color: white;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 450px;
  max-width: 90%;
}

/* .ToselectCandidateorHost{

} */

.already-account {
    display: flex;
    flex-direction: row;
    margin-left: 60px;
}

.already-account p {
    margin-right: 20px;
}

.already-account button {
   border: 2px solid black;
   border-radius: 5px;
   background-color: #0073E6; 
   color: white;
   width: 100px;
   height: 50px;
   border-radius: 25px;
   font-size: 16px;
}

.rolecard {
    height: 15vh;
    border-radius: 10px;
    margin: 10px;
    width: 28vw;
}

.icons {
    width: 10px;
    padding-top: 10px;
    padding-left: 15px;
}

.text {
    margin-top: 0px;
    margin-left: 10px;
    padding-left: 10px;
    margin-bottom: 15px;
}

.Details-form {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.detail-form {
  height: 50vh;
  width: 35vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 6px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.detail-form h1 {
  margin-top: 0px;
}

.form {
  display: flex;
  flex-direction: column;
}

.name-details{
   display: flex;
   gap: 20px;
}

.small-input {
  width: 200px; 
}